body {
  margin: 0;
  display: table;
  height: 100%;
  width: 100%;
  font: 14px/134% Helvetica Neue, sans-serif;
}

#center {
  display: table-cell;
}

#fig {
  position: relative;
  margin: auto;
}

.linkki {
	width: 100%;
	padding-right: 100px;
	text-align: right;
}
